* {box-sizing: border-box;}
html, body {
    margin: 0;
    padding: 0;
}
/* navbar */
.bg-steel {
    background-color: #08436d;
}
.site-header .container .navbar-brand {
    margin-left: 20%;
    margin-right: 3%;
}
.site-header .container .navbar-nav a {
    margin-right: 7px;
    /* color: #cbd5db; */
    color: #ddd;
}
.site-header .container .navbar-nav .nav-link:hover {
    color: #ffffff;
}
.site-header .container .navbar-nav .nav-link.active {
    font-weight: 500;
}
.site-header .container .account-links {
    margin-left: 50%;
}

/* body */
.body-container {
    margin-top: 6%;
}
.body-container .card {
    margin-bottom: 15px;
}
.body-container .card .content-section {
    padding: 5px;
}
.body-container .card .content-section img {
    height: 70px;
    width: 70px;
    margin-right: 3.5%;
    margin-top: 5.5%;
}
.body-container .card .content-section .article-metadata a {
    margin-right: 1%;
    text-decoration: none;
    color: #0a75c2;
}
.body-container .card .content-section .article-title {
    text-decoration: none;
    font-weight: 600;
    color: #797575;
}
.body-container .card .content-section .delete-icon {
	position: absolute;
	right: 0px;
	top: 15px;
}
.body-container .card .content-section .icon {
	color: #21252c;
	padding-right: 20px;
	padding-bottom: 5px;
	transition: 0.3s;
	font-size: 16px;
    text-decoration: none;
}

/* profile page */
.content-section .media img {
    height: 120px;
    width: 120px;
    margin-right: 3.5%;
}
